@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

html,
body {
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

th {
  vertical-align: middle;
  border: 1px solid #eaedf3;
  text-align: left;
}

td {
  vertical-align: middle;
  height: 56px;
  font-weight: 500;
  line-height: 22px;
  font-size: 14px;
}

td img {
  vertical-align: middle;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

.table__row-headers {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;

  height: 40px;
}

.table__header--website {
  color: #0068ed;
  width: 630px;
  background-color: #eaedf3;
}

.table__header--sections,
.table__header--status {
  padding-left: 12px;
  color: #3e3f42;
  width: 240px;
  max-width: 240px;
  background-color: #f7f7f8;
}

.table__row--specific {
  color: #646569;
  border: 1px solid #eaedf3;
}

.table__row--specific:hover {
  background-color: #f9fafc;
}

.table__data-cell__div {
  height: 100%;
}

.table__row--hidden {
  display: none;
}

.row--hidden__container {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: start;
  background-color: #f7f8fa;
  padding: 24px 56px;
  gap: 54px;
  border-left: 1px solid #eaedf3;
  border-right: 1px solid #eaedf3;
}

.row--hidden__container--item {
  width: 297px;
}

.item__table {
  width: 100%;
  table-layout: fixed;
}

.item__row-specific {
  color: #646569;
  border: 1px solid #eaedf3;
  background-color: #ffffff;
}

.row--specific--icon {
  margin-right: 16px;
}

.row--specific--icon--arrow {
  margin-right: 12px;
}

.icon--arrow--normal {
  filter: none;
  transform: rotate(0deg);
}

.icon--arrow--color {
  filter: invert(33%) sepia(89%) saturate(4979%) hue-rotate(206deg)
    brightness(95%) contrast(101%);
  transform: rotate(90deg);
}

.row--hidden__title {
  background-color: #f7f8fa;
  color: #9ea0a5;
  padding-left: 56px;
  border-bottom: 1px solid #eaedf3;
  border-left: 1px solid #eaedf3;
  border-right: 1px solid #eaedf3;
  line-height: 16px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: 600;
}

.checkbox {
  padding: 0 16px;
}

input[type="checkbox"] {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid #ced0da;
  background-color: #ffffff;
  border-radius: 3px;
  vertical-align: middle;
}

input[type="checkbox"]:checked {
  background-color: #0068ed;
}

.table__row-header--checkbox {
  background-color: #eaedf3;
}

.row--hidden--checkbox {
  width: 16px;
  padding: 0 16px;
}

.row--hidden--operational {
  text-align: center;
}
