@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

html,
body {
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

th {
  position: sticky;
  vertical-align: middle;
  border: 1px solid #f6f7f9;
  text-align: left;
}

td {
  vertical-align: middle;
  height: 56px;
  font-weight: 500;
  line-height: 22px;
  font-size: 14px;
}

.container {
  display: flex;
  justify-content: center;
  border: 2px solid black;
}

.table__row-headers {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;

  height: 40px;
}

.table__header--website {
  padding-left: 48px;
  color: #0068ed;
  min-width: 240px;
  width: 630px;
  background-color: #ced0da;
}

.table__header--sections,
.table__header--status {
  padding-left: 14px;
  color: #3e3f42;
  width: 240px;
  max-width: 240px;
  background-color: #eaedf3;
}

.table__row--specific {
  border: 1px solid #f6f7f9;
}

.table__data-cell__div {
  height: 100%;
}
